*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    color: white;
    text-align: center;
}
#zegary, section{
    text-align: center;
    
    border-bottom: 1px solid whitesmoke;
    height: 40vh;
}
h2{
background: blue;
margin-top: 20px;
color: white;
}

ul{
    font-size: 30px;
   
    height: 28vh;
}




select{
    margin-top: 10px;
    background: ghostwhite;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 20px ;
}

button{
    margin-left: 10px;
    background: rgb(231, 204, 52);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 500;
}